<nav class="navbar navbar-light navbar-expand-md" id="nav-bar" style = "background-color: #5F021F;">
    <div id="navbar-div" class="container-fluid">
        <a class="navbar-brand" id="nav-bar-text">Databases ELIDEK - {{ pageTitle }}</a>
        <!--<select name= Page method="GET" action="/">
			{% for page in Pages %}
				<option value= "{{page.Page_Name}}" SELECTED><a href="{{page.URL}}">{{ page.Page_Name }}</a></option>
			{% endfor %}
		</select>-->
		<a id="navbar-items" href="/">
            <i class="fa fa-home "></i> Landing
        </a>
    </div>
</nav>
