{% extends "global_layout.html" %}
{% block content %}
<div class="container">
    {% include "flash_messages.html" %}
    <div class="row" id="row">
        <div class="col-md-12">
            <form class="form-horizontal" name="project-create" method="POST">
                <!-- hidden_tag returns the form's security metadata -->
                {{ form.hidden_tag() }}
                <div class="form-group col-sm-3 mb-3">
                    {{ form.Orgname.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.Orgname(class = "form-control", placeholder="Enter Organisation Name", required = False) }}
                    {% if form.Orgname.errors %}
                    <ul class = "errors">
                        {% for error in form.Orgname.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.Abbreviation.label(class = "form-label") }}
                    {{ form.Abbreviation(class = "form-control", placeholder="Enter Organisation Abbreviation", required = False) }}
                    {% if form.Abbreviation.errors %}
                    <ul class = "errors">
                        {% for error in form.Abbreviation.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.City.label(class = "form-label") }}
                    {{ form.City(class = "form-control", placeholder="Enter Orgnisation City", required = False) }}
                    {% if form.City.errors %}
                    <ul class = "errors">
                        {% for error in form.City.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
				<div class="form-group col-sm-3 mb-3">
                    {{ form.Street_name.label(class = "form-label") }}
                    <!-- Setting required to false disables the HTML attribute and leaves input validation to the backend -->
                    {{ form.Street_name(class = "form-control", placeholder="Enter Street name", required = False) }}
                    {% if form.Street_name.errors %}
                    <ul class = "errors">
                        {% for error in form.Street_name.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.Postal_code.label(class = "form-label") }}
                    {{ form.Postal_code(class = "form-control", placeholder="Enter PS", required = False) }}
                    {% if form.Postal_code.errors %}
                    <ul class = "errors">
                        {% for error in form.Postal_code.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="form-group col-sm-3 mb-3">
                    {{ form.typec.label(class = "form-label") }}
                    {{ form.typec(class = "form-control", placeholder="Enter Organisation Type", required = False) }}
                    {% if form.typec.errors %}
                    <ul class = "errors">
                        {% for error in form.typec.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
				<div class="form-group col-sm-3 mb-3">
                    {{ form.Research_facility_Budget_MoE.label(class = "form-label") }}
                    {{ form.Research_facility_Budget_MoE(class = "form-control", placeholder="Enter Research Facility Budget MoE", required = False) }}
                    {% if form.Research_facility_Budget_MoE.errors %}
                    <ul class = "errors">
                        {% for error in form.Research_facility_Budget_MoE.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
				<div class="form-group col-sm-3 mb-3">
                    {{ form.Research_facility_Budget_private_sector.label(class = "form-label") }}
                    {{ form.Research_facility_Budget_private_sector(class = "form-control", placeholder="Enter Research Facility Budget Private Sector", required = False) }}
                    {% if form.Research_facility_Budget_private_sector.errors %}
                    <ul class = "errors">
                        {% for error in form.Research_facility_Budget_private_sector.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
				<div class="form-group col-sm-3 mb-3">
                    {{ form.Company_Budget.label(class = "form-label") }}
                    {{ form.Company_Budget(class = "form-control", placeholder="Enter Compary Budget", required = False) }}
                    {% if form.Company_Budget.errors %}
                    <ul class = "errors">
                        {% for error in form.Company_Budget.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
				<div class="form-group col-sm-3 mb-3">
                    {{ form.University_Budget_MoE.label(class = "form-label") }}
                    {{ form.University_Budget_MoE(class = "form-control", placeholder="Enter University Budget MoE", required = False) }}
                    {% if form.University_Budget_MoE.errors %}
                    <ul class = "errors">
                        {% for error in form.University_Budget_MoE.errors %}
                        <li class = "text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {{ form.submit(class = "btn btn-primary btn-submit-custom") }}
            </form>
    </div>
    </div>
</div>
{% endblock content %}